image: node:latest

stages:
  - build
  - test

cache:
  paths:
    - node_modules/

install_dependencies:
  stage: build
  script:
    - docker build -t 3jmaster/node-web-app my-demo-app/
  artifacts:
    paths:
      - node_modules/

test_with_lab:
  stage: test
  script: npm run dev

job:
  script:
    - "./code/vault/0_update_requirements.sh"
    - "echo done"
